<div class="block-banner">
    <img loading="lazy" src="img/bg3.webp" alt="" class="block-banner__bg">
    <div class="container">
        <div class="block-banner__content">
            <div class="heading-complex">
                <div class="heading-complex__content">
                    <h2 class="title2">
                        <span>Для консультации или помощи в выборе</span> Напишите нам
                    </h2>
                    <div class="socials">
                        <a href="#">
                            <span>Написать в telegram</span>
                            <img src="img/icon/telegram.svg" alt="">
                        </a>
                        <a href="#">
                            <span>Написать в WhatsApp</span>
                            <img src="img/icon/whatsapp.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>