<footer class="footer">
    <div class="footer__top top-footer">
        <div class="container">
            <div class="top-footer__content">
                <div class="top-footer__left">
                    <a href="#" class="top-footer__logo">
                        <img loading="lazy" src="../img/icon/logo.svg" alt="">
                    </a>
                    <div data-da=".top-footer__right, 600, last" class="socials">
                        <a href="#">
                            <img src="img/icon/telegram.svg" alt="">
                        </a>
                        <a href="#">
                            <img src="img/icon/whatsapp.svg" alt="">
                        </a>
                        <a href="#">
                            <img src="img/icon/vk.svg" alt="">
                        </a>
                    </div>
                </div>
                <div class="top-footer__center">
                    <div data-da=".top-footer__left, 600, first" class="top-footer__main-menu">
                        <ul>
                            <li>
                                <a href="#">Каталог</a>
                            </li>
                            <li>
                                <a href="#">Компьютеры</a>
                            </li>
                            <li>
                                <a href="#">Услуги</a>
                            </li>
                            <li>
                                <a href="#">Бренды</a>
                            </li>
                            <li>
                                <a href="#">Контакты</a>
                            </li>
                        </ul>
                    </div>
                    <div class="top-footer__menu">
                        <div class="top-footer__column">
                            <div class="top-footer__title">Клиентам</div>
                            <ul>
                                <li>
                                    <a href="#">Оплата</a>
                                </li>
                                <li>
                                    <a href="#">Гарантия</a>
                                </li>
                                <li>
                                    <a href="#">Доставка</a>
                                </li>
                                <li>
                                    <a href="#">Возврат</a>
                                </li>
                            </ul>
                        </div>
                        <div class="top-footer__column">
                            <div class="top-footer__title">Компания</div>
                            <ul>
                                <li>
                                    <a href="#">О нас</a>
                                </li>
                                <li>
                                    <a href="#">Отзывы</a>
                                </li>
                                <li>
                                    <a href="#">Реквизиты</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="top-footer__right">
                    <div class="top-footer__contacts">
                        <a href="tel:88002227652" class="top-footer__contact phone">
                            <img loading="lazy" src="img/icon/phone.svg" alt="">
                            <span>8 (800) 222-76-52</span>
                        </a>
                        <a href="mailto:info@mixpcshop.ru" class="top-footer__contact">
                            <img loading="lazy" src="img/icon/mail.svg" alt="">
                            <span>info@mixpcshop.ru</span>
                        </a>
                        <div class="top-footer__contact">
                            <img loading="lazy" src="img/icon/location.svg" alt="">
                            <span>Казань, ул. Спартаковская, 14</span>
                        </div>
                    </div>
                    <a href="#" class="btn">
                        <span>Задать вопрос</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom bottom-footer">
        <div class="container">
            <div class="bottom-footer__content">
                <p>2025 © MIX PC | Сеть магазинов компьютеров и комплектующих</p>
                <a href="#">Политика конфиденциальности</a>
            </div>
        </div>
    </div>
</footer>