<header data-lp class="header">
  <div class="container">
    <div class="header__content">
      <div class="header__top top-header">
        <div class="top-header__left">
          <div class="top-header__icon">
            <div class="icon-menu">
              <span></span>
            </div>
          </div>
          <a href="#" class="top-header__logo">
            <img src="img/icon/logo.svg" alt="">
          </a>
          <button data-da=".bottom-header, 1100" type="button" class="top-header__location">
            <img src="img/icon/location.svg" alt="">
            <span>Казань</span>
          </button>
        </div>
        <div class="top-header__search search-header">
          <div class="search-header__body">
            <button type="button" class="search-header__button">
              <img src="img/icon/search.svg" alt="">
            </button>
            <input autocomplete="off" type="text" name="form[]" placeholder="Поиск">
            <div class="btn">
              <span>Найти</span>
            </div>
          </div>
        </div>
        <div class="top-header__right">
          <div data-da=".bottom-header, 1100" class="socials">
            <a href="#">
              <span>Написать в telegram</span>
              <img src="img/icon/telegram.svg" alt="">
            </a>
            <a href="#">
              <span>Написать в WhatsApp</span>
              <img src="img/icon/whatsapp.svg" alt="">
            </a>
          </div>
          <div class="top-header__telephone">
            <a href="tel:88002227652">8 (800) 222-76-52</a>
            <span>Бесплатно по России</span>
          </div>
          <a href="#" data-da=".bottom-header, 1100" class="top-header__user">
            <img src="img/icon/user.svg" alt="">
            <span>Личный кабинет</span>
          </a>
        </div>
      </div>
      <div class="header__bottom bottom-header">
        <div class="menu">
          <nav class="menu__body">
            <ul class="menu__list">
              <li class="menu__item menu-item">
                <a href="#" class="menu__link">
                  <div class="menu__icon">
                    <span></span>
                  </div>
                  <span>Каталог</span>
                </a>
                <div class="menu__submenu">
                  <ul>
                    <li>
                      <a href="#">
                        <img class="menu__pic" src="img/products/image2.webp" alt="">
                        <span>Компьютеры</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <img class="menu__pic" src="img/products/image3.webp" alt="">
                        <span>Процессоры</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <img class="menu__pic" src="img/products/image4.webp" alt="">
                        <span>Видеокарты</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <img class="menu__pic" src="img/products/image5.webp" alt="">
                        <span>Материнские платы</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <img class="menu__pic" src="img/products/image6.webp" alt="">
                        <span>Оперативная память</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <img class="menu__pic" src="img/products/image7.webp" alt="">
                        <span>Накопители SSD</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <img class="menu__pic" src="img/products/image8.webp" alt="">
                        <span>Блоки питания</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <img class="menu__pic" src="img/products/image9.webp" alt="">
                        <span>Корпуса</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <img class="menu__pic" src="img/products/image10.webp" alt="">
                        <span>Охлаждение</span>
                      </a>
                    </li>
                    <li class="menu-all">
                      <a href="#">
                        <div class="menu__pic">
                          <div class="btn-circle">
                            <img src="img/icon/arrow1.svg" alt="">
                          </div>
                        </div>
                        <span>Весь каталог</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="menu__item">
                <a href="#" class="menu__link">
                  <span>Компьютеры</span>
                </a>
              </li>
              <li class="menu__item">
                <a href="#" class="menu__link">
                  <span>Услуги</span>
                </a>
              </li>
              <li class="menu__item menu-item">
                <a href="#" class="menu__link">
                  <span>Клиентам</span>
                  <img src="img/icon/arrow1.svg" alt="">
                </a>
                <div class="menu__submenu2">
                  <ul>
                    <li>
                      <a href="#">Оплата</a>
                    </li>
                    <li>
                      <a href="#">Гарантия</a>
                    </li>
                    <li>
                      <a href="#">Доставка</a>
                    </li>
                    <li>
                      <a href="#">Возврат</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="menu__item menu-item">
                <a href="#" class="menu__link">
                  <span>Компания</span>
                  <img src="img/icon/arrow1.svg" alt="">
                </a>
                <div class="menu__submenu2">
                  <ul>
                    <li>
                      <a href="#">О нас
                      </a>
                    </li>
                    <li>
                      <a href="#">Отзывы</a>
                    </li>
                    <li>
                      <a href="#">Реквизиты</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="menu__item">
                <a href="#" class="menu__link">
                  <span>Контакты</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <div data-da=".top-header__left, 1100, last" class="bottom-header__right">
          <a href="#" class="bottom-header__column">
            <img src="img/icon/comparison.svg" alt="">
            <span>0</span>
          </a>
          <a href="#" class="bottom-header__column">
            <img src="img/icon/heart.svg" alt="">
            <span>0</span>
          </a>
          <a href="#" class="bottom-header__column">
            <img src="img/icon/cart.svg" alt="">
            <span>0</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>