<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Конфигуратор</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="breadcrumbs">
                <div class="container">
                    <div class="breadcrumbs__content">
                        <ul>
                            <li><a href="#"><img src="img/icon/home.svg" alt=""></a></li>
                            <li><a href="#">- Каталог</a></li>
                            <li><span>- Конфигуратор ПК</span></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="block-configurator">
                <div class="container">
                    <div class="block-configurator__content">
                        <h1 class="title1">
                            <span>Конфигуратор</span>
                        </h1>
                        <div class="block-configurator__body">
                            <div class="block-configurator__left left-configurator">
                                <div class="left-configurator__sticky">
                                    <div class="left-configurator__shadow figure-shadow">
                                        <img src="img/shadow2.webp" alt="">
                                    </div>
                                    <div class="left-configurator__figure figure">
                                        <img src="img/figure4.webp" alt="">
                                    </div>
                                    <div class="left-configurator__item">
                                        <div class="left-configurator__title">
                                            Информация о сборке
                                        </div>
                                        <div class="left-configurator__image">
                                            <img src="img/image8.webp" alt="">
                                        </div>
                                        <div class="checkboxes">
                                            <div class="checkbox">
                                                <input id="c_1" class="checkbox__input" type="checkbox" value="1"
                                                    name="form[]">
                                                <label for="c_1" class="checkbox__label">
                                                    <span class="checkbox__icon"></span>
                                                    <span class="checkbox__text">Без сборки</span>
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <input id="c_2" class="checkbox__input" type="checkbox" value="2"
                                                    name="form[]">
                                                <label for="c_2" class="checkbox__label">
                                                    <span class="checkbox__icon"></span>
                                                    <span class="checkbox__text">
                                                        Сборка 1-я категория (офисный ПК)
                                                    </span>
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <input checked id="c_3" class="checkbox__input" type="checkbox"
                                                    value="3" name="form[]">
                                                <label for="c_3" class="checkbox__label">
                                                    <span class="checkbox__icon"></span>
                                                    <span class="checkbox__text">
                                                        Сборка 2-я категория (игровой ПК)
                                                    </span>
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <input id="c_4" class="checkbox__input" type="checkbox" value="4"
                                                    name="form[]">
                                                <label for="c_4" class="checkbox__label">
                                                    <span class="checkbox__icon"></span>
                                                    <span class="checkbox__text">
                                                        Сборка 3-я категория (игровой ПК с СЖО)
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="left-configurator__totals">
                                            <span>Итого</span>
                                            <div class="left-configurator__summ">
                                                55 410
                                                <img src="img/icon/ruble.svg" alt="">
                                            </div>
                                        </div>
                                        <a href="#" class="btn btn-big">
                                            <img class="img-cart" src="img/icon/cart.svg" alt="">
                                            <span>Заказать сборку</span>
                                        </a>
                                        <div class="left-configurator__links">
                                            <a href="#">
                                                <img src="img/icon/print.svg" alt="">
                                                <span>Печать</span>
                                            </a>
                                            <a href="#">
                                                <img src="img/icon/mail2.svg" alt="">
                                                <span>На почту</span>
                                            </a>
                                            <a href="#">
                                                <img src="img/icon/save.svg" alt="">
                                                <span>Сохранить</span>
                                            </a>
                                            <a href="#">
                                                <img src="img/icon/delete.svg" alt="">
                                                <span>Удалить</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block-configurator__right right-configurator">
                                <div class="right-configurator__top">
                                    <div class="right-configurator__title">
                                        Комплектация компьютера
                                    </div>
                                    <div class="right-configurator__subtitle">
                                        * Обязательные комплектующие
                                    </div>
                                </div>
                                <div class="right-configurator__body">
                                    <div class="right-configurator__column">
                                        <div class="right-configurator__images">
                                            <a href="#" class="right-configurator__image">
                                                <div class="right-configurator__pic1">
                                                    <span>*</span>
                                                    <img src="img/products/image3.webp" alt="">
                                                </div>
                                                <div class="right-configurator__name">Процессор</div>
                                            </a>
                                            <div class="right-configurator__icon">
                                                <button type="button">
                                                    <img src="img/icon/update.svg" alt="">
                                                </button>
                                                <button type="button">
                                                    <img src="img/icon/close.svg" alt="">
                                                </button>
                                            </div>
                                        </div>
                                        <div class="right-configurator__descr">
                                            <img src="img/products/image25.webp" alt=""
                                                class="right-configurator__pic2">
                                            <div class="right-configurator__item">
                                                <a href="#" class="right-configurator__left">
                                                    <div class="right-configurator__descr-title">
                                                        Процессор lntel Core i5 12400F ОЕМ СМ8071504555318;
                                                    </div>
                                                    <div class="right-configurator__atricle">
                                                        <span>Артикул</span>
                                                        51514
                                                    </div>
                                                </a>
                                                <div class="right-configurator__price">
                                                    8 900
                                                    <img src="img/icon/ruble.svg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right-configurator__icon icon-desc">
                                            <button type="button">
                                                <img src="img/icon/update.svg" alt="">
                                            </button>
                                            <button type="button">
                                                <img src="img/icon/close.svg" alt="">
                                            </button>
                                        </div>
                                    </div>
                                    <div class="right-configurator__column">
                                        <div class="right-configurator__images">
                                            <a href="#" class="right-configurator__image">
                                                <div class="right-configurator__pic1">
                                                    <span>*</span>
                                                    <img src="img/products/image10.webp" alt="">
                                                </div>
                                                <div class="right-configurator__name">Охлаждение</div>
                                            </a>
                                            <div class="right-configurator__icon">
                                                <button type="button">
                                                    <img src="img/icon/update.svg" alt="">
                                                </button>
                                                <button type="button">
                                                    <img src="img/icon/close.svg" alt="">
                                                </button>
                                            </div>
                                        </div>
                                        <div class="right-configurator__descr">
                                            <img src="img/products/image26.webp" alt=""
                                                class="right-configurator__pic2">
                                            <div class="right-configurator__item">
                                                <a href="#" class="right-configurator__left">
                                                    <div class="right-configurator__descr-title">
                                                        Кулер для процессора lD-COOLING SE-214-XT
                                                    </div>
                                                    <div class="right-configurator__atricle">
                                                        <span>Артикул</span>
                                                        59253
                                                    </div>
                                                </a>
                                                <div class="right-configurator__price">
                                                    1 360
                                                    <img src="img/icon/ruble.svg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right-configurator__icon icon-desc">
                                            <button type="button">
                                                <img src="img/icon/update.svg" alt="">
                                            </button>
                                            <button type="button">
                                                <img src="img/icon/close.svg" alt="">
                                            </button>
                                        </div>
                                    </div>
                                    <div class="right-configurator__column">
                                        <div class="right-configurator__images">
                                            <a href="#" class="right-configurator__image">
                                                <div class="right-configurator__pic1">
                                                    <span>*</span>
                                                    <img src="img/products/image5.webp" alt="">
                                                </div>
                                                <div class="right-configurator__name">Материнская
                                                    плата</div>
                                            </a>
                                            <div class="right-configurator__icon">
                                                <button type="button">
                                                    <img src="img/icon/update.svg" alt="">
                                                </button>
                                                <button type="button">
                                                    <img src="img/icon/close.svg" alt="">
                                                </button>
                                            </div>
                                        </div>
                                        <div class="right-configurator__descr">
                                            <img src="img/products/image27.webp" alt=""
                                                class="right-configurator__pic2">
                                            <div class="right-configurator__item">
                                                <a href="#" class="right-configurator__left">
                                                    <div class="right-configurator__descr-title">
                                                        Материнская плата ASRock H610M-HVS
                                                    </div>
                                                    <div class="right-configurator__atricle">
                                                        <span>Артикул</span>
                                                        53971
                                                    </div>
                                                </a>
                                                <div class="right-configurator__price">
                                                    4 960
                                                    <img src="img/icon/ruble.svg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right-configurator__icon icon-desc">
                                            <button type="button">
                                                <img src="img/icon/update.svg" alt="">
                                            </button>
                                            <button type="button">
                                                <img src="img/icon/close.svg" alt="">
                                            </button>
                                        </div>
                                    </div>
                                    <div class="right-configurator__column">
                                        <div class="right-configurator__images">
                                            <a href="#" class="right-configurator__image">
                                                <div class="right-configurator__pic1">
                                                    <span>*</span>
                                                    <img src="img/products/image6.webp" alt="">
                                                </div>
                                                <div class="right-configurator__name">Оперативная память</div>
                                            </a>
                                            <div class="right-configurator__icon">
                                                <button type="button">
                                                    <img src="img/icon/update.svg" alt="">
                                                </button>
                                                <button type="button">
                                                    <img src="img/icon/close.svg" alt="">
                                                </button>
                                            </div>
                                        </div>
                                        <div class="right-configurator__descr">
                                            <img src="img/products/image28.webp" alt=""
                                                class="right-configurator__pic2">
                                            <div class="right-configurator__item">
                                                <a href="#" class="right-configurator__left">
                                                    <div class="right-configurator__descr-title">
                                                        Оперативная память 16 Gb 2666 МНz
                                                        NETAC BASlC (NTBS04P26SP-16)
                                                    </div>
                                                    <div class="right-configurator__atricle">
                                                        <span>Артикул</span>
                                                        53442
                                                    </div>
                                                </a>
                                                <div class="right-configurator__price">
                                                    1 740
                                                    <img src="img/icon/ruble.svg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right-configurator__icon icon-desc">
                                            <button type="button">
                                                <img src="img/icon/update.svg" alt="">
                                            </button>
                                            <button type="button">
                                                <img src="img/icon/close.svg" alt="">
                                            </button>
                                        </div>
                                    </div>
                                    <div class="right-configurator__column">
                                        <div class="right-configurator__images">
                                            <a href="#" class="right-configurator__image">
                                                <div class="right-configurator__pic1">
                                                    <span>*</span>
                                                    <img src="img/products/image4.webp" alt="">
                                                </div>
                                                <div class="right-configurator__name">Видеокарта</div>
                                            </a>
                                            <div class="right-configurator__icon">
                                                <button type="button">
                                                    <img src="img/icon/update.svg" alt="">
                                                </button>
                                                <button type="button">
                                                    <img src="img/icon/close.svg" alt="">
                                                </button>
                                            </div>
                                        </div>
                                        <div class="right-configurator__descr">
                                            <img src="img/products/image29.webp" alt=""
                                                class="right-configurator__pic2">
                                            <div class="right-configurator__item">
                                                <a href="#" class="right-configurator__left">
                                                    <div class="right-configurator__descr-title">
                                                        Видеокарта Gigabyte (GV-N30500C-6GL)
                                                        GeForce RTX 3050 6GB ОС
                                                    </div>
                                                    <div class="right-configurator__atricle">
                                                        <span>Артикул</span>
                                                        61408
                                                    </div>
                                                </a>
                                                <div class="right-configurator__price">
                                                    18 320
                                                    <img src="img/icon/ruble.svg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right-configurator__icon icon-desc">
                                            <button type="button">
                                                <img src="img/icon/update.svg" alt="">
                                            </button>
                                            <button type="button">
                                                <img src="img/icon/close.svg" alt="">
                                            </button>
                                        </div>
                                    </div>
                                    <div class="right-configurator__column">
                                        <div class="right-configurator__images">
                                            <a href="#" class="right-configurator__image">
                                                <div class="right-configurator__pic1">
                                                    <img src="img/products/image7.webp" alt="">
                                                </div>
                                                <div class="right-configurator__name">Накопитель SSD M2</div>
                                            </a>
                                            <div class="right-configurator__icon">
                                                <button type="button">
                                                    <img src="img/icon/update.svg" alt="">
                                                </button>
                                                <button type="button">
                                                    <img src="img/icon/close.svg" alt="">
                                                </button>
                                            </div>
                                        </div>
                                        <div class="right-configurator__descr">
                                            <img src="img/products/image30.webp" alt=""
                                                class="right-configurator__pic2">
                                            <div class="right-configurator__item">
                                                <a href="#" class="right-configurator__left">
                                                    <div class="right-configurator__descr-title">
                                                        Твердотельный накопитель NETAC 1000 Gb
                                                        NT01NV7000-1TO-E4X
                                                    </div>
                                                    <div class="right-configurator__atricle">
                                                        <span>Артикул</span>
                                                        53710
                                                    </div>
                                                </a>
                                                <div class="right-configurator__price">
                                                    7 530
                                                    <img src="img/icon/ruble.svg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right-configurator__icon icon-desc">
                                            <button type="button">
                                                <img src="img/icon/update.svg" alt="">
                                            </button>
                                            <button type="button">
                                                <img src="img/icon/close.svg" alt="">
                                            </button>
                                        </div>
                                    </div>
                                    <div class="right-configurator__column">
                                        <div class="right-configurator__plus btn-circle">
                                            <span></span>
                                        </div>
                                        <div class="right-configurator__images">
                                            <a href="#" class="right-configurator__image">
                                                <div class="right-configurator__pic1">
                                                    <img src="img/products/image31.webp" alt="">
                                                </div>
                                                <div class="right-configurator__name">Накопитель SSD M2</div>
                                            </a>
                                        </div>
                                        <div class="right-configurator__descr">
                                            <a href="#" class="btn">
                                                <span>Выбрать</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="right-configurator__column">
                                        <div class="right-configurator__images">
                                            <a href="#" class="right-configurator__image">
                                                <div class="right-configurator__pic1">
                                                    <img src="img/products/image14.webp" alt="">
                                                </div>
                                                <div class="right-configurator__name">Накопитель HHD</div>
                                            </a>
                                        </div>
                                        <div class="right-configurator__descr">
                                            <a href="#" class="btn">
                                                <span>Выбрать</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="right-configurator__column">
                                        <div class="right-configurator__images">
                                            <a href="#" class="right-configurator__image">
                                                <div class="right-configurator__pic1">
                                                    <span>*</span>
                                                    <img src="img/products/image15.webp" alt="">
                                                </div>
                                                <div class="right-configurator__name">Блок питания</div>
                                            </a>
                                            <div class="right-configurator__icon">
                                                <button type="button">
                                                    <img src="img/icon/update.svg" alt="">
                                                </button>
                                                <button type="button">
                                                    <img src="img/icon/close.svg" alt="">
                                                </button>
                                            </div>
                                        </div>
                                        <div class="right-configurator__descr">
                                            <img src="img/products/image8.webp" alt="" class="right-configurator__pic2">
                                            <div class="right-configurator__item">
                                                <a href="#" class="right-configurator__left">
                                                    <div class="right-configurator__descr-title">
                                                        Блок питания Aerocool 700W VX-700 RGB
                                                        PLUS
                                                    </div>
                                                    <div class="right-configurator__atricle">
                                                        <span>Артикул</span>
                                                        47013
                                                    </div>
                                                </a>
                                                <div class="right-configurator__price">
                                                    4 090
                                                    <img src="img/icon/ruble.svg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right-configurator__icon icon-desc">
                                            <button type="button">
                                                <img src="img/icon/update.svg" alt="">
                                            </button>
                                            <button type="button">
                                                <img src="img/icon/close.svg" alt="">
                                            </button>
                                        </div>
                                    </div>
                                    <div class="right-configurator__column">
                                        <div class="right-configurator__images">
                                            <a href="#" class="right-configurator__image">
                                                <div class="right-configurator__pic1">
                                                    <span>*</span>
                                                    <img src="img/products/image9.webp" alt="">
                                                </div>
                                                <div class="right-configurator__name">Корпус</div>
                                            </a>
                                            <div class="right-configurator__icon">
                                                <button type="button">
                                                    <img src="img/icon/update.svg" alt="">
                                                </button>
                                                <button type="button">
                                                    <img src="img/icon/close.svg" alt="">
                                                </button>
                                            </div>
                                        </div>
                                        <div class="right-configurator__descr">
                                            <img src="img/products/image32.webp" alt=""
                                                class="right-configurator__pic2">
                                            <div class="right-configurator__item">
                                                <a href="#" class="right-configurator__left">
                                                    <div class="right-configurator__descr-title">
                                                        Компьютерный корпус Powercase
                                                        DIAMOND Mesh LED В1асК АТХ CMDM-L1
                                                    </div>
                                                    <div class="right-configurator__atricle">
                                                        <span>Артикул</span>
                                                        53393
                                                    </div>
                                                </a>
                                                <div class="right-configurator__price">
                                                    3 510
                                                    <img src="img/icon/ruble.svg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right-configurator__icon icon-desc">
                                            <button type="button">
                                                <img src="img/icon/update.svg" alt="">
                                            </button>
                                            <button type="button">
                                                <img src="img/icon/close.svg" alt="">
                                            </button>
                                        </div>
                                    </div>
                                    <div class="right-configurator__column">
                                        <div class="right-configurator__images">
                                            <a href="#" class="right-configurator__image">
                                                <div class="right-configurator__pic1">
                                                    <img src="img/products/image33.webp" alt="">
                                                </div>
                                                <div class="right-configurator__name">Монитор</div>
                                            </a>
                                            <div class="right-configurator__icon">
                                                <button type="button">
                                                    <img src="img/icon/update.svg" alt="">
                                                </button>
                                                <button type="button">
                                                    <img src="img/icon/close.svg" alt="">
                                                </button>
                                            </div>
                                        </div>
                                        <div class="right-configurator__descr">
                                            <img src="img/products/image34.webp" alt=""
                                                class="right-configurator__pic2">
                                            <div class="right-configurator__item">
                                                <a href="#" class="right-configurator__left">
                                                    <div class="right-configurator__descr-title">
                                                        27" Монитор LG UltraGear 27GR75Q-B черный
                                                    </div>
                                                    <div class="right-configurator__atricle">
                                                        <span>Артикул</span>
                                                        41123
                                                    </div>
                                                </a>
                                                <div class="right-configurator__price">
                                                    26 499
                                                    <img src="img/icon/ruble.svg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right-configurator__icon icon-desc">
                                            <button type="button">
                                                <img src="img/icon/update.svg" alt="">
                                            </button>
                                            <button type="button">
                                                <img src="img/icon/close.svg" alt="">
                                            </button>
                                        </div>
                                    </div>
                                    <div class="right-configurator__column">
                                        <div class="right-configurator__images">
                                            <a href="#" class="right-configurator__image">
                                                <div class="right-configurator__pic1">
                                                    <img src="img/products/image35.webp" alt="">
                                                </div>
                                                <div class="right-configurator__name">Клавиатура</div>
                                            </a>
                                            <div class="right-configurator__icon">
                                                <button type="button">
                                                    <img src="img/icon/update.svg" alt="">
                                                </button>
                                                <button type="button">
                                                    <img src="img/icon/close.svg" alt="">
                                                </button>
                                            </div>
                                        </div>
                                        <div class="right-configurator__descr">
                                            <img src="img/products/image34.webp" alt=""
                                                class="right-configurator__pic2">
                                            <div class="right-configurator__item">
                                                <a href="#" class="right-configurator__left">
                                                    <div class="right-configurator__descr-title">
                                                        Клавиатура проводная Дарк Проджект KD83A
                                                    </div>
                                                    <div class="right-configurator__atricle">
                                                        <span>Артикул</span>
                                                        25064
                                                    </div>
                                                </a>
                                                <div class="right-configurator__price">
                                                    8 099
                                                    <img src="img/icon/ruble.svg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right-configurator__icon icon-desc">
                                            <button type="button">
                                                <img src="img/icon/update.svg" alt="">
                                            </button>
                                            <button type="button">
                                                <img src="img/icon/close.svg" alt="">
                                            </button>
                                        </div>
                                    </div>
                                    <div class="right-configurator__column">
                                        <div class="right-configurator__images">
                                            <a href="#" class="right-configurator__image">
                                                <div class="right-configurator__pic1">
                                                    <img src="img/products/image37.webp" alt="">
                                                </div>
                                                <div class="right-configurator__name">Мышка</div>
                                            </a>
                                            <div class="right-configurator__icon">
                                                <button type="button">
                                                    <img src="img/icon/update.svg" alt="">
                                                </button>
                                                <button type="button">
                                                    <img src="img/icon/close.svg" alt="">
                                                </button>
                                            </div>
                                        </div>
                                        <div class="right-configurator__descr">
                                            <img src="img/products/image38.webp" alt=""
                                                class="right-configurator__pic2">
                                            <div class="right-configurator__item">
                                                <a href="#" class="right-configurator__left">
                                                    <div class="right-configurator__descr-title">
                                                        Мышь беспроводная Logitech G PRO X SUPERLIGHT 2 [910-006642]
                                                    </div>
                                                    <div class="right-configurator__atricle">
                                                        <span>Артикул</span>
                                                        37015
                                                    </div>
                                                </a>
                                                <div class="right-configurator__price">
                                                    14 899
                                                    <img src="img/icon/ruble.svg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right-configurator__icon icon-desc">
                                            <button type="button">
                                                <img src="img/icon/update.svg" alt="">
                                            </button>
                                            <button type="button">
                                                <img src="img/icon/close.svg" alt="">
                                            </button>
                                        </div>
                                    </div>
                                    <div class="right-configurator__column">
                                        <div class="right-configurator__plus btn-circle">
                                            <span></span>
                                        </div>
                                        <div class="right-configurator__images">
                                            <a href="#" class="right-configurator__image">
                                                <div class="right-configurator__pic1">
                                                    <img src="img/image12.webp" alt="">
                                                </div>
                                                <div class="right-configurator__name">Пакет Гарантии</div>
                                            </a>
                                        </div>
                                        <div class="right-configurator__descr">
                                            <a href="#" class="btn">
                                                <span>Выбрать</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-products block-products-bg">
                <div class="container">
                    <div class="heading-complex">
                        <div class="heading-complex__content">
                            <h2 class="title2">
                                <span>Готовые</span> сборки
                            </h2>
                        </div>
                    </div>
                    <div class="block-products__content">
                        <div class="block-products__slider block-products-slider1 swiper">
                            <div class="block-products__wrapper swiper-wrapper">
                                <div class="block-products__slide swiper-slide">
                                    <div class="block-products__items">
                                        <div class="block-products__bg"></div>
                                        <div class="block-products__images images-block-products">
                                            <div class="images-block-products__slider swiper">
                                                <div class="images-block-products__wrapper swiper-wrapper">
                                                    <a href="img/products/image43.webp"
                                                        class="images-block-products__slide swiper-slide"
                                                        data-fancybox="gallery2">
                                                        <img loading="lazy" src="img/products/image43.webp" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="images-block-products__pagination pagination"></div>
                                        </div>
                                        <div class="block-products__item item-block-products">
                                            <div class="item-block-products__top">
                                                <div class="item-block-products__stock">
                                                    Есть в наличии: <span>1</span>
                                                </div>
                                                <a href="#" class="item-block-products__title">
                                                    Игровой компьютер i5 14600KF + RTX4070Ti Super
                                                </a>
                                                <div class="item-block-products__prices">
                                                    <div class="item-block-products__column sale-price">
                                                        <div class="item-block-products__name">
                                                            Цена по акции
                                                        </div>
                                                        <div class="item-block-products__summ">
                                                            192 200
                                                            <img loading="lazy" src="img/icon/ruble.svg" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="item-block-products__column">
                                                        <div class="item-block-products__name">
                                                            Розничная цена
                                                        </div>
                                                        <div class="item-block-products__summ">
                                                            198 500
                                                            <img loading="lazy" src="img/icon/ruble.svg" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-block-products__bottom">
                                                <div class="item-block-products__buttons">
                                                    <div data-quantity class="quantity">
                                                        <button data-quantity-minus type="button"
                                                            class="quantity__button quantity__button_minus"></button>
                                                        <div class="quantity__input">
                                                            <input data-quantity-value autocomplete="off" type="text"
                                                                name="form[]" value="1">
                                                        </div>
                                                        <button data-quantity-plus type="button"
                                                            class="quantity__button quantity__button_plus"></button>
                                                    </div>
                                                    <a href="#" class="btn">
                                                        <img class="img-cart" src="img/icon/cart.svg" alt="">
                                                        <span>
                                                            В корзину
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-products__slide swiper-slide">
                                    <div class="block-products__items">
                                        <div class="block-products__bg"></div>
                                        <div class="block-products__images images-block-products">
                                            <div class="images-block-products__slider swiper">
                                                <div class="images-block-products__wrapper swiper-wrapper">
                                                    <a href="img/products/image40.webp"
                                                        class="images-block-products__slide swiper-slide"
                                                        data-fancybox="gallery3">
                                                        <img loading="lazy" src="img/products/image40.webp" alt="">
                                                    </a>
                                                    <a href="img/products/image40.webp"
                                                        class="images-block-products__slide swiper-slide"
                                                        data-fancybox="gallery3">
                                                        <img loading="lazy" src="img/products/image40.webp" alt="">
                                                    </a>
                                                    <a href="img/products/image40.webp"
                                                        class="images-block-products__slide swiper-slide"
                                                        data-fancybox="gallery3">
                                                        <img loading="lazy" src="img/products/image40.webp" alt="">
                                                    </a>
                                                    <a href="img/products/image40.webp"
                                                        class="images-block-products__slide swiper-slide"
                                                        data-fancybox="gallery3">
                                                        <img loading="lazy" src="img/products/image40.webp" alt="">
                                                    </a>
                                                    <a href="img/products/image40.webp"
                                                        class="images-block-products__slide swiper-slide"
                                                        data-fancybox="gallery3">
                                                        <img loading="lazy" src="img/products/image40.webp" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="options">
                                                <div class="options__item">
                                                    <!--
                                                    <input hidden id="o_5" class="options__input change-color" checked
                                                        type="radio" value="5" name="option2">-->
                                                    <label class="options__label">
                                                        <div class="options__icon icon-gradient">
                                                            <span class="circle" style="background-color: #000;"></span>
                                                        </div>
                                                    </label>
                                                </div>
                                                <div class="options__item">
                                                    <!--
                                                    <input hidden id="o_6" class="options__input change-color"
                                                        type="radio" value="6" name="option2">-->
                                                    <label class="options__label">
                                                        <span class="options__icon">
                                                            <span class="circle" style="background-color: #fff;"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                                <div class="options__item">
                                                    <!--
                                                    <input hidden id="o_7" class="options__input change-color"
                                                        type="radio" value="7" name="option2">-->
                                                    <label class="options__label">
                                                        <div class="options__icon">
                                                            <span class="circle"
                                                                style="background-color: #00da95;"></span>
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="images-block-products__pagination pagination"></div>
                                        </div>
                                        <div class="block-products__item item-block-products">
                                            <div class="item-block-products__top">
                                                <div class="item-block-products__stock">
                                                    Есть в наличии: <span>2</span>
                                                </div>
                                                <a href="#" class="item-block-products__title">
                                                    Игровой компьютер i5 14600KF + RTX4070Ti Super
                                                </a>
                                                <div class="item-block-products__prices">
                                                    <div class="item-block-products__column sale-price">
                                                        <div class="item-block-products__name">
                                                            Цена по акции
                                                        </div>
                                                        <div class="item-block-products__summ">
                                                            192 200
                                                            <img loading="lazy" src="img/icon/ruble.svg" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="item-block-products__column">
                                                        <div class="item-block-products__name">
                                                            Розничная цена
                                                        </div>
                                                        <div class="item-block-products__summ">
                                                            198 500
                                                            <img loading="lazy" src="img/icon/ruble.svg" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-block-products__bottom">
                                                <div class="item-block-products__equipment">
                                                    <div class="item-block-products__name">
                                                        Накопитель SSD
                                                    </div>
                                                    <div class="options">
                                                        <div class="options__item">
                                                            <input hidden id="o_8" class="options__input" checked
                                                                type="radio" value="8" name="option3">
                                                            <label for="o_8" class="options__label"><span
                                                                    class="options__text">1000 GB</span></label>
                                                        </div>
                                                        <div class="options__item">
                                                            <input hidden id="o_9" class="options__input" type="radio"
                                                                value="9" name="option3">
                                                            <label for="o_9" class="options__label"><span
                                                                    class="options__text">2000 GB</span></label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item-block-products__buttons">
                                                    <div data-quantity class="quantity">
                                                        <button data-quantity-minus type="button"
                                                            class="quantity__button quantity__button_minus"></button>
                                                        <div class="quantity__input">
                                                            <input data-quantity-value autocomplete="off" type="text"
                                                                name="form[]" value="1">
                                                        </div>
                                                        <button data-quantity-plus type="button"
                                                            class="quantity__button quantity__button_plus"></button>
                                                    </div>
                                                    <a href="#" class="btn">
                                                        <img class="img-cart" src="img/icon/cart.svg" alt="">
                                                        <span>
                                                            В корзину
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-products__slide swiper-slide">
                                    <div class="block-products__items">
                                        <div class="block-products__bg"></div>
                                        <div class="block-products__images images-block-products">
                                            <div class="images-block-products__slider swiper">
                                                <div class="images-block-products__wrapper swiper-wrapper">
                                                    <a href="img/products/image44.webp"
                                                        class="images-block-products__slide swiper-slide"
                                                        data-fancybox="gallery5">
                                                        <img loading="lazy" src="img/products/image44.webp" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="images-block-products__pagination pagination"></div>
                                        </div>
                                        <div class="block-products__item item-block-products">
                                            <div class="item-block-products__top">
                                                <div class="item-block-products__stock">
                                                    Есть в наличии: <span>5</span>
                                                </div>
                                                <a href="#" class="item-block-products__title">
                                                    Игровой компьютер i5 14600KF + RTX4070Ti Super
                                                </a>
                                                <div class="item-block-products__prices">
                                                    <div class="item-block-products__column sale-price">
                                                        <div class="item-block-products__name">
                                                            Цена по акции
                                                        </div>
                                                        <div class="item-block-products__summ">
                                                            192 200
                                                            <img loading="lazy" src="img/icon/ruble.svg" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="item-block-products__column">
                                                        <div class="item-block-products__name">
                                                            Розничная цена
                                                        </div>
                                                        <div class="item-block-products__summ">
                                                            198 500
                                                            <img loading="lazy" src="img/icon/ruble.svg" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-block-products__bottom">
                                                <div class="item-block-products__buttons">
                                                    <div data-quantity class="quantity">
                                                        <button data-quantity-minus type="button"
                                                            class="quantity__button quantity__button_minus"></button>
                                                        <div class="quantity__input">
                                                            <input data-quantity-value autocomplete="off" type="text"
                                                                name="form[]" value="1">
                                                        </div>
                                                        <button data-quantity-plus type="button"
                                                            class="quantity__button quantity__button_plus"></button>
                                                    </div>
                                                    <a href="#" class="btn">
                                                        <img class="img-cart" src="img/icon/cart.svg" alt="">
                                                        <span>
                                                            В корзину
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-products__slide swiper-slide">
                                    <div class="block-products__items">
                                        <div class="block-products__bg"></div>
                                        <div class="block-products__images images-block-products">
                                            <div class="images-block-products__slider swiper">
                                                <div class="images-block-products__wrapper swiper-wrapper">
                                                    <a href="img/products/image45.webp"
                                                        class="images-block-products__slide swiper-slide"
                                                        data-fancybox="gallery6">
                                                        <img loading="lazy" src="img/products/image45.webp" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="images-block-products__pagination pagination"></div>
                                        </div>
                                        <div class="block-products__item item-block-products">
                                            <div class="item-block-products__top">
                                                <div class="item-block-products__stock">
                                                    Есть в наличии: <span>4</span>
                                                </div>
                                                <a href="#" class="item-block-products__title">
                                                    Игровой компьютер i5 14600KF + RTX4070Ti Super
                                                </a>
                                                <div class="item-block-products__prices">
                                                    <div class="item-block-products__column sale-price">
                                                        <div class="item-block-products__name">
                                                            Цена по акции
                                                        </div>
                                                        <div class="item-block-products__summ">
                                                            192 200
                                                            <img loading="lazy" src="img/icon/ruble.svg" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="item-block-products__column">
                                                        <div class="item-block-products__name">
                                                            Розничная цена
                                                        </div>
                                                        <div class="item-block-products__summ">
                                                            198 500
                                                            <img loading="lazy" src="img/icon/ruble.svg" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-block-products__bottom">
                                                <div class="item-block-products__buttons">
                                                    <div data-quantity class="quantity">
                                                        <button data-quantity-minus type="button"
                                                            class="quantity__button quantity__button_minus"></button>
                                                        <div class="quantity__input">
                                                            <input data-quantity-value autocomplete="off" type="text"
                                                                name="form[]" value="1">
                                                        </div>
                                                        <button data-quantity-plus type="button"
                                                            class="quantity__button quantity__button_plus"></button>
                                                    </div>
                                                    <a href="#" class="btn">
                                                        <img class="img-cart" src="img/icon/cart.svg" alt="">
                                                        <span>
                                                            В корзину
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-products__slide swiper-slide">
                                    <div class="block-products__items">
                                        <div class="block-products__bg"></div>
                                        <div class="block-products__images images-block-products">
                                            <div class="images-block-products__slider swiper">
                                                <div class="images-block-products__wrapper swiper-wrapper">
                                                    <a href="img/products/image40.webp"
                                                        class="images-block-products__slide swiper-slide"
                                                        data-fancybox="gallery7">
                                                        <img loading="lazy" src="img/products/image40.webp" alt="">
                                                    </a>
                                                    <a href="img/products/image40.webp"
                                                        class="images-block-products__slide swiper-slide"
                                                        data-fancybox="gallery7">
                                                        <img loading="lazy" src="img/products/image40.webp" alt="">
                                                    </a>
                                                    <a href="img/products/image40.webp"
                                                        class="images-block-products__slide swiper-slide"
                                                        data-fancybox="gallery7">
                                                        <img loading="lazy" src="img/products/image40.webp" alt="">
                                                    </a>
                                                    <a href="img/products/image40.webp"
                                                        class="images-block-products__slide swiper-slide"
                                                        data-fancybox="gallery7">
                                                        <img loading="lazy" src="img/products/image40.webp" alt="">
                                                    </a>
                                                    <a href="img/products/image40.webp"
                                                        class="images-block-products__slide swiper-slide"
                                                        data-fancybox="gallery7">
                                                        <img loading="lazy" src="img/products/image40.webp" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="options">
                                                <div class="options__item">
                                                    <!--
                                                    <input hidden id="o_5" class="options__input change-color" checked
                                                        type="radio" value="5" name="option2">-->
                                                    <label class="options__label">
                                                        <div class="options__icon icon-gradient">
                                                            <span class="circle" style="background-color: #000;"></span>
                                                        </div>
                                                    </label>
                                                </div>
                                                <div class="options__item">
                                                    <!--
                                                    <input hidden id="o_6" class="options__input change-color"
                                                        type="radio" value="6" name="option2">-->
                                                    <label class="options__label">
                                                        <span class="options__icon">
                                                            <span class="circle" style="background-color: #fff;"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                                <div class="options__item">
                                                    <!--
                                                    <input hidden id="o_7" class="options__input change-color"
                                                        type="radio" value="7" name="option2">-->
                                                    <label class="options__label">
                                                        <div class="options__icon">
                                                            <span class="circle"
                                                                style="background-color: #00da95;"></span>
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="images-block-products__pagination pagination"></div>
                                        </div>
                                        <div class="block-products__item item-block-products">
                                            <div class="item-block-products__top">
                                                <div class="item-block-products__stock">
                                                    Есть в наличии: <span>2</span>
                                                </div>
                                                <a href="#" class="item-block-products__title">
                                                    Игровой компьютер i5 14600KF + RTX4070Ti Super
                                                </a>
                                                <div class="item-block-products__prices">
                                                    <div class="item-block-products__column sale-price">
                                                        <div class="item-block-products__name">
                                                            Цена по акции
                                                        </div>
                                                        <div class="item-block-products__summ">
                                                            192 200
                                                            <img loading="lazy" src="img/icon/ruble.svg" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="item-block-products__column">
                                                        <div class="item-block-products__name">
                                                            Розничная цена
                                                        </div>
                                                        <div class="item-block-products__summ">
                                                            198 500
                                                            <img loading="lazy" src="img/icon/ruble.svg" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-block-products__bottom">
                                                <div class="item-block-products__equipment">
                                                    <div class="item-block-products__name">
                                                        Накопитель SSD
                                                    </div>
                                                    <div class="options">
                                                        <div class="options__item">
                                                            <input hidden id="o_10" class="options__input" checked
                                                                type="radio" value="10" name="option4">
                                                            <label for="o_10" class="options__label"><span
                                                                    class="options__text">1000 GB</span></label>
                                                        </div>
                                                        <div class="options__item">
                                                            <input hidden id="o_11" class="options__input" type="radio"
                                                                value="11" name="option4">
                                                            <label for="o_11" class="options__label"><span
                                                                    class="options__text">2000 GB</span></label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item-block-products__buttons">
                                                    <div data-quantity class="quantity">
                                                        <button data-quantity-minus type="button"
                                                            class="quantity__button quantity__button_minus"></button>
                                                        <div class="quantity__input">
                                                            <input data-quantity-value autocomplete="off" type="text"
                                                                name="form[]" value="1">
                                                        </div>
                                                        <button data-quantity-plus type="button"
                                                            class="quantity__button quantity__button_plus"></button>
                                                    </div>
                                                    <a href="#" class="btn">
                                                        <img class="img-cart" src="img/icon/cart.svg" alt="">
                                                        <span>
                                                            В корзину
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block-products__arrow-prev arrow-prev">
                            <img src="img/icon/arrow1.svg" alt="">
                        </div>
                        <div class="block-products__arrow-next arrow-next">
                            <img src="img/icon/arrow1.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>

            {% include 'blocks/banner.njk' %}

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>