<!DOCTYPE html>
<html lang="ru">

<head>
	<title>Главная</title>
	{% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
	<div class="main-wrapper-outer">
		{% include 'blocks/header.njk' %}
		<main class="main">
			<div class="block-intro">
				<div class="container">
					<div class="block-intro__top top-block-intro">
						<div class="top-block-intro__slider swiper">
							<div class="top-block-intro__wrapper swiper-wrapper">
								<div class="top-block-intro__slide swiper-slide">
									<img src="img/bg2.webp" alt="" class="top-block-intro__bg">
									<div class="top-block-intro__content">
										<div class="top-block-intro__body">
											<div class="title1">
												Системный блок
											</div>
											<div class="top-block-intro__subtitle title1">
												<img src="img/bg3.webp" alt="">
												<span>На заказ</span>
											</div>
											<p>
												Компьютер с уникальной конфигурацией собранный специально для вас
											</p>
											<a href="#" class="btn"><span>Собрать Игровой пк</span></a>
										</div>
										<img src="img/products/image1.webp" alt="" class="top-block-intro__pic">
									</div>
								</div>
								<div class="top-block-intro__slide swiper-slide">
									<img src="img/bg2.webp" alt="" class="top-block-intro__bg">
									<div class="top-block-intro__content">
										<div class="top-block-intro__body">
											<div class="title1">
												Системный блок
											</div>
											<div class="top-block-intro__subtitle title1">
												<img src="img/bg3.webp" alt="">
												<span>На заказ</span>
											</div>
											<p>
												Компьютер с уникальной конфигурацией собранный специально для вас
											</p>
											<a href="#" class="btn"><span>Собрать Игровой пк</span></a>
										</div>
										<img src="img/products/image1.webp" alt="" class="top-block-intro__pic">
									</div>
								</div>
								<div class="top-block-intro__slide swiper-slide">
									<img src="img/bg2.webp" alt="" class="top-block-intro__bg">
									<div class="top-block-intro__content">
										<div class="top-block-intro__body">
											<div class="title1">
												Системный блок
											</div>
											<div class="top-block-intro__subtitle title1">
												<img src="img/bg3.webp" alt="">
												<span>На заказ</span>
											</div>
											<p>
												Компьютер с уникальной конфигурацией собранный специально для вас
											</p>
											<a href="#" class="btn"><span>Собрать Игровой пк</span></a>
										</div>
										<img src="img/products/image1.webp" alt="" class="top-block-intro__pic">
									</div>
								</div>
								<div class="top-block-intro__slide swiper-slide">
									<img src="img/bg2.webp" alt="" class="top-block-intro__bg">
									<div class="top-block-intro__content">
										<div class="top-block-intro__body">
											<div class="title1">
												Системный блок
											</div>
											<div class="top-block-intro__subtitle title1">
												<img src="img/bg3.webp" alt="">
												<span>На заказ</span>
											</div>
											<p>
												Компьютер с уникальной конфигурацией собранный специально для вас
											</p>
											<a href="#" class="btn"><span>Собрать Игровой пк</span></a>
										</div>
										<img src="img/products/image1.webp" alt="" class="top-block-intro__pic">
									</div>
								</div>
								<div class="top-block-intro__slide swiper-slide">
									<img src="img/bg2.webp" alt="" class="top-block-intro__bg">
									<div class="top-block-intro__content">
										<div class="top-block-intro__body">
											<div class="title1">
												Системный блок
											</div>
											<div class="top-block-intro__subtitle title1">
												<img src="img/bg3.webp" alt="">
												<span>На заказ</span>
											</div>
											<p>
												Компьютер с уникальной конфигурацией собранный специально для вас
											</p>
											<a href="#" class="btn"><span>Собрать Игровой пк</span></a>
										</div>
										<img src="img/products/image1.webp" alt="" class="top-block-intro__pic">
									</div>
								</div>
							</div>
						</div>
						<div class="top-block-intro__pagination pagination"></div>
						<div class="top-block-intro__arrow-prev arrow-prev">
							<img src="img/icon/arrow1.svg" alt="">
						</div>
						<div class="top-block-intro__arrow-next arrow-next">
							<img src="img/icon/arrow1.svg" alt="">
						</div>
					</div>
					<div class="block-intro__bottom bottom-block-intro">
						<div class="bottom-block-intro__circle"></div>
						<div class="bottom-block-intro__body">
							<div class="bottom-block-intro__column">
								<img class="bottom-block-intro__bg" src="img/bg4.webp" alt="">
								<div class="bottom-block-intro__item">
									<div class="bottom-block-intro__title">Trade-In</div>
									<p>
										Поменяйте ваш старый компьютер на новый
									</p>
								</div>
								<img class="bottom-block-intro__pic" src="img/image1.webp" alt="">
							</div>
							<div class="bottom-block-intro__column">
								<img class="bottom-block-intro__bg bg2" src="img/bg1.webp" alt="">
								<div class="bottom-block-intro__item">
									<div class="bottom-block-intro__title">Сервис</div>
									<p>
										Починим комплектующие
										и компьютер в целом
									</p>
								</div>
								<img class="bottom-block-intro__pic pic2" src="img/image2.webp" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="block-choose">
				<div class="block-choose__top top-block-choose">
					<div class="container">
						<div class="heading-complex">
							<div class="heading-complex__content">
								<h2 class="title2">
									<span>
										Выбери <span class="cl">готовый</span> или <span class="cl">создай</span>
									</span>
									свой компьютер мечты
								</h2>
							</div>
						</div>
						<div class="top-block-choose__content">
							<div class="top-block-choose__column">
								<div class="top-block-choose__shadow figure-shadow">
									<img loading="lazy" src="img/shadow1.webp" alt="">
								</div>
								<div class="top-block-choose__figure figure">
									<img loading="lazy" src="img/figure1.webp" alt="">
								</div>
								<div class="top-block-choose__item">
									<div class="top-block-choose__title">
										<div class="top-block-choose__icon">
											<img src="img/icon/check1.svg" alt="">
										</div>
										<span>В наличии</span>
									</div>
									<div class="top-block-choose__subtitle">
										ПК с доставкой сегодня
									</div>
									<a href="#" class="btn"><span>Выбрать</span></a>
								</div>
								<div class="top-block-choose__image">
									<img loading="lazy" src="img/products/image11.webp" alt="">
								</div>
							</div>
							<div class="top-block-choose__column">
								<div class="top-block-choose__shadow figure-shadow">
									<img loading="lazy" src="img/shadow1.webp" alt="">
								</div>
								<div class="top-block-choose__figure figure">
									<img loading="lazy" src="img/figure1.webp" alt="">
								</div>
								<div class="top-block-choose__item">
									<div class="top-block-choose__title">
										<div class="top-block-choose__icon">
											<img src="img/icon/gear.svg" alt="">
										</div>
										<span>Конфигуратор</span>
									</div>
									<div class="top-block-choose__subtitle">
										Собрать мощный компьютер
									</div>
									<a href="#" class="btn"><span>Конфигурировать</span></a>
								</div>
								<div class="top-block-choose__image">
									<img loading="lazy" src="img/products/image12.webp" alt="">
								</div>
							</div>
							<div class="top-block-choose__column">
								<div class="top-block-choose__shadow figure-shadow">
									<img loading="lazy" src="img/shadow1.webp" alt="">
								</div>
								<div class="top-block-choose__figure figure">
									<img loading="lazy" src="img/figure1.webp" alt="">
								</div>
								<div class="top-block-choose__item">
									<div class="top-block-choose__title">
										<div class="top-block-choose__icon">
											<img src="img/icon/comparison.svg" alt="">
										</div>
										<span>Подбор</span>
									</div>
									<div class="top-block-choose__subtitle">
										Подобрать по параметрам
									</div>
									<a href="#" class="btn"><span>Подобрать</span></a>
								</div>
								<div class="top-block-choose__image">
									<img loading="lazy" src="img/products/image13.webp" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="block-choose__center center-block-choose">
					<div class="container">
						<div class="center-block-choose__body">
							<a href="#" class="center-block-choose__column">
								<div class="center-block-choose__image">
									<img loading="lazy" src="img/products/image3.webp" alt="">
								</div>
								<span>Процессоры</span>
							</a>
							<a href="#" class="center-block-choose__column">
								<div class="center-block-choose__image">
									<img loading="lazy" src="img/products/image4.webp" alt="">
								</div>
								<span>Видеокарты</span>
							</a>
							<a href="#" class="center-block-choose__column">
								<div class="center-block-choose__image">
									<img loading="lazy" src="img/products/image5.webp" alt="">
								</div>
								<span>Материнские платы</span>
							</a>
							<a href="#" class="center-block-choose__column">
								<div class="center-block-choose__image">
									<img loading="lazy" src="img/products/image6.webp" alt="">
								</div>
								<span>Оперативная память</span>
							</a>
							<a href="#" class="center-block-choose__column">
								<div class="center-block-choose__image">
									<img loading="lazy" src="img/products/image14.webp" alt="">
								</div>
								<span>Накопители HDD</span>
							</a>
							<a href="#" class="center-block-choose__column">
								<div class="center-block-choose__image">
									<img loading="lazy" src="img/products/image7.webp" alt="">
								</div>
								<span>Накопители SSD</span>
							</a>
							<a href="#" class="center-block-choose__column">
								<div class="center-block-choose__image">
									<img loading="lazy" src="img/products/image15.webp" alt="">
								</div>
								<span>Блоки питания</span>
							</a>
							<a href="#" class="center-block-choose__column">
								<div class="center-block-choose__image">
									<img loading="lazy" src="img/products/image9.webp" alt="">
								</div>
								<span>Корпуса</span>
							</a>
							<a href="#" class="center-block-choose__column">
								<div class="center-block-choose__image">
									<img loading="lazy" src="img/products/image10.webp" alt="">
								</div>
								<span>Охлаждение</span>
							</a>
							<a href="#" class="center-block-choose__column">
								<div class="center-block-choose__image">
									<img loading="lazy" src="img/products/image16.webp" alt="">
								</div>
								<span>Cетевое оборудование</span>
							</a>
						</div>
					</div>
				</div>
				<div class="block-choose__bottom bottom-block-choose">
					<div class="container">
						<div class="bottom-block-choose__body">
							<a href="#" class="bottom-block-choose__column column1">
								<img loading="lazy" src="img/bg2.webp" alt="" class="bottom-block-choose__bg">
								<div class="bottom-block-choose__item">
									<div class="bottom-block-choose__title">Мониторы</div>
									<div class="btn-circle">
										<img src="img/icon/arrow1.svg" alt="">
									</div>
								</div>
								<div class="bottom-block-choose__image">
									<img src="img/products/image17.webp" alt="">
								</div>
							</a>
							<a href="#" class="bottom-block-choose__column column2">
								<img loading="lazy" src="img/bg2.webp" alt="" class="bottom-block-choose__bg">
								<div class="bottom-block-choose__item">
									<div class="bottom-block-choose__title">Клавиатура</div>
								</div>
								<div class="bottom-block-choose__image">
									<img src="img/products/image18.webp" alt="">
								</div>
							</a>
							<a href="#" class="bottom-block-choose__column column3">
								<img loading="lazy" src="img/bg2.webp" alt="" class="bottom-block-choose__bg">
								<div class="bottom-block-choose__item">
									<div class="bottom-block-choose__title">Наушники</div>
								</div>
								<div class="bottom-block-choose__image">
									<img src="img/products/image19.webp" alt="">
								</div>
							</a>
							<a href="#" class="bottom-block-choose__column column4">
								<img loading="lazy" src="img/bg2.webp" alt="" class="bottom-block-choose__bg">
								<div class="bottom-block-choose__item">
									<div class="bottom-block-choose__title">Мышки</div>
								</div>
								<div class="bottom-block-choose__image">
									<img src="img/products/image20.webp" alt="">
								</div>
							</a>
							<a href="#" class="bottom-block-choose__column column5">
								<img loading="lazy" src="img/bg2.webp" alt="" class="bottom-block-choose__bg">
								<div class="bottom-block-choose__item">
									<div class="bottom-block-choose__title">Коврики</div>
								</div>
								<div class="bottom-block-choose__image">
									<img src="img/products/image21.webp" alt="">
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="block-benefits">
				<div class="container">
					<div class="block-benefits__body">
						<div class="block-benefits__column">
							<img loading="lazy" src="img/bg1.webp" alt="" class="block-benefits__bg">
							<div class="block-benefits__image">
								<img loading="lazy" src="img/image3.webp" alt="">
							</div>
							<div class="block-benefits__item item-white">
								<div class="block-benefits__title">Гарантия качества</div>
								<div class="block-benefits__subtitle">
									Используем только новые и оригинальные комплектующие
								</div>
							</div>
						</div>
						<div class="block-benefits__column">
							<img loading="lazy" src="img/bg4.webp" alt="" class="block-benefits__bg">
							<div class="block-benefits__image">
								<img loading="lazy" src="img/image4.webp" alt="">
							</div>
							<div class="block-benefits__item item-white">
								<div class="block-benefits__title">Лучшие цены</div>
								<div class="block-benefits__subtitle">
									Мы стараемся держать цены на уровне самостоятельной сборки
								</div>
							</div>
						</div>
						<div class="block-benefits__column">
							<img loading="lazy" src="img/bg2.webp" alt="" class="block-benefits__bg">
							<div class="block-benefits__image">
								<img loading="lazy" src="img/image5.webp" alt="">
							</div>
							<div class="block-benefits__item">
								<div class="block-benefits__title">Доставка</div>
								<div class="block-benefits__subtitle">
									Оперативно упакуем и доставим компьютер удобным для вас способом
								</div>
							</div>
						</div>
						<div class="block-benefits__column">
							<img loading="lazy" src="img/bg2.webp" alt="" class="block-benefits__bg">
							<div class="block-benefits__image">
								<img loading="lazy" src="img/image6.webp" alt="">
							</div>
							<div class="block-benefits__item">
								<div class="block-benefits__title">Суровое тестирование</div>
								<div class="block-benefits__subtitle">
									После сборки компьютера обязательным пунктом идёт тестирование его в различных
									программах и играх
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="block-banner">
				<img loading="lazy" src="img/bg5.webp" alt="" class="block-banner__bg">
				<div class="container">
					<div class="block-banner__content">
						<div class="heading-complex">
							<div class="heading-complex__content">
								<h2 class="title2">
									<span>Давайте подберем компьютер</span> под ваши задачи
								</h2>
								<p>
									Мы создаём компьютеры для решения любых задач. Наши сборки идеально сбалансированы.
									Вы получаете
									лучшую производительность за свой бюджет
								</p>
								<div class="socials">
									<a href="#">
										<span>Написать в telegram</span>
										<img src="img/icon/telegram.svg" alt="">
									</a>
									<a href="#">
										<span>Написать в WhatsApp</span>
										<img src="img/icon/whatsapp.svg" alt="">
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="block-socials">
				<div class="container">
					<div class="heading-complex">
						<div class="heading-complex__content">
							<h2 class="title2">
								<span>Мы в контакте</span>
							</h2>
						</div>
					</div>
					<div class="block-socials__content">
						<div class="block-socials__body">
							<a href="#" class="block-socials__column">
								<div class="block-socials__image">
									<img class="block-socials__pic" loading="lazy" src="img/image7.webp" alt="">
								</div>
								<div class="block-socials__items">
									<div class="block-socials__shadow figure-shadow">
										<img src="img/shadow2.webp" alt="">
									</div>
									<div class="block-socials__figure figure">
										<img src="img/figure2.webp" alt="">
									</div>
									<div class="block-socials__item">
										<div class="block-socials__data">
											18 апр 2025
										</div>
										<div class="block-socials__title">
											РОЗЫГРЫШ ИГРОВОГО ПК
										</div>
										<div class="block-socials__link">Читать в Вконтакте</div>
									</div>
								</div>
							</a>
							<a href="#" class="block-socials__column">
								<div class="block-socials__image">
									<img class="block-socials__pic" loading="lazy" src="img/image8.webp" alt="">
								</div>
								<div class="block-socials__items">
									<div class="block-socials__shadow figure-shadow">
										<img src="img/shadow2.webp" alt="">
									</div>
									<div class="block-socials__figure figure">
										<img src="img/figure2.webp" alt="">
									</div>
									<div class="block-socials__item">
										<div class="block-socials__data">
											18 апр 2025
										</div>
										<div class="block-socials__title">
											«Панда» или «MonoChrome»?
											<br>
											Собрали клиенту черную сборку клиенту черную сборку
										</div>
										<div class="block-socials__link">Читать в Вконтакте</div>
									</div>
								</div>
							</a>
							<a href="#" class="block-socials__column">
								<div class="block-socials__image">
									<img class="block-socials__pic" loading="lazy" src="img/image9.webp" alt="">
									<div class="btn-circle">
										<img loading="lazy" src="img/icon/play.svg" alt="">
									</div>
								</div>
								<div class="block-socials__items">
									<div class="block-socials__shadow figure-shadow">
										<img src="img/shadow2.webp" alt="">
									</div>
									<div class="block-socials__figure figure">
										<img src="img/figure2.webp" alt="">
									</div>
									<div class="block-socials__item">
										<div class="block-socials__data">
											29 апр 2025
										</div>
										<div class="block-socials__title">
											ЛУЧШИЙ ИГРОВОЙ ПК ЗА 100 000 р / СБОРКА и тестирование
										</div>
										<div class="block-socials__link">Смотреть в Вконтакте</div>
									</div>
								</div>
							</a>
						</div>
						<a href="#" class="btn">
							<span>Все публикации</span>
						</a>
					</div>
				</div>
			</div>
			<div class="block-service-support">
				<div class="container">
					<div class="heading-complex">
						<div class="heading-complex__content">
							<h2 class="title2">
								<span>Сервисные пакеты</span> поддержки
							</h2>
						</div>
					</div>
					<div class="block-service-support__content">
						<div class="block-service-support__body">
							<div class="block-service-support__column">
								<div class="block-service-support__shadow figure-shadow">
									<img loading="lazy" src="img/shadow3.webp" alt="">
								</div>
								<div class="block-service-support__figure figure">
									<img loading="lazy" src="img/figure3.webp" alt="">
								</div>
								<div class="block-service-support__number">
									<span></span>
								</div>
								<div class="block-service-support__item">
									<div class="block-service-support__top">
										<div class="block-service-support__name">Base</div>
										<div class="block-service-support__subname">
											Базовый пакет
										</div>
									</div>
									<div class="block-service-support__center">
										<ul>
											<li>
												<img loading="lazy" src="img/icon/plus1.svg" alt="">
												<span>
													Замена при гарантийном случае до
													45 дней на новые
													комплектующие
												</span>
											</li>
											<li>
												<img loading="lazy" src="img/icon/plus1.svg" alt="">
												<span>
													Сроки реакции на принятую
													заявку до 24 часов
												</span>
											</li>
											<li>
												<img loading="lazy" src="img/icon/plus1.svg" alt="">
												<span>
													Стресс-тестирование 4 часа
												</span>
											</li>
											<li>
												<img loading="lazy" src="img/icon/plus1.svg" alt="">
												<span>
													Скидка 5% на работы при
													апгрейде ПК
												</span>
											</li>
										</ul>
									</div>
									<div class="block-service-support__bottom">
										<div class="block-service-support__total">
											<span>Стоимость</span>
											<div class="block-service-support__sum">
												Бесплатно
											</div>
										</div>
										<a href="#" class="btn">
											<span>Выбрать</span>
										</a>
									</div>
								</div>
							</div>
							<div class="block-service-support__column">
								<div class="block-service-support__shadow figure-shadow">
									<img loading="lazy" src="img/shadow3.webp" alt="">
								</div>
								<div class="block-service-support__figure figure">
									<img loading="lazy" src="img/figure3.webp" alt="">
								</div>
								<div class="block-service-support__number">
									<span></span>
									<span></span>
								</div>
								<div class="block-service-support__item">
									<div class="block-service-support__top">
										<div class="block-service-support__name">Optimal</div>
										<div class="block-service-support__subname">
											Расширенный пакет
										</div>
									</div>
									<div class="block-service-support__center">
										<ul>
											<li>
												<img loading="lazy" src="img/icon/plus1.svg" alt="">
												<span>
													Замена при гарантийном случае до
													14 дней на новые
													комплектующие
												</span>
											</li>
											<li>
												<img loading="lazy" src="img/icon/plus1.svg" alt="">
												<span>
													Исправление программной
													ошибки не являющимся
													гарантийным случаем, 2
													обращения
												</span>
											</li>
											<li>
												<img loading="lazy" src="img/icon/plus1.svg" alt="">
												<span>
													Сроки реакции на принятую
													заявку до 5 часов (в рабочее
													время)
												</span>
											</li>
											<li>
												<img loading="lazy" src="img/icon/plus1.svg" alt="">
												<span>
													Стресс-тестирование 5 часов
												</span>
											</li>
											<li>
												<img loading="lazy" src="img/icon/plus1.svg" alt="">
												<span>
													Скидка 3% на
													комплектующие и 7% на
													работы при апгрейде
												</span>
											</li>
										</ul>
									</div>
									<div class="block-service-support__bottom">
										<div class="block-service-support__total">
											<span>Стоимость</span>
											<div class="block-service-support__sum">
												9 990
												<img loading="lazy" src="img/icon/ruble.svg" alt="">
											</div>
										</div>
										<a href="#" class="btn">
											<span>Выбрать</span>
										</a>
									</div>
								</div>
							</div>
							<div class="block-service-support__column">
								<div class="block-service-support__shadow figure-shadow">
									<img loading="lazy" src="img/shadow3.webp" alt="">
								</div>
								<div class="block-service-support__figure figure">
									<img loading="lazy" src="img/figure3.webp" alt="">
								</div>
								<div class="block-service-support__number">
									<span></span>
									<span></span>
									<span></span>
								</div>
								<div class="block-service-support__item">
									<div class="block-service-support__top">
										<div class="block-service-support__name">Premium</div>
										<div class="block-service-support__subname">
											Премиальный пакет
										</div>
									</div>
									<div class="block-service-support__center">
										<ul>
											<li>
												<img loading="lazy" src="img/icon/plus1.svg" alt="">
												<span>
													Замена при гарантийном случае до
													10 дней на новые
													комплектующие
												</span>
											</li>
											<li>
												<img loading="lazy" src="img/icon/plus1.svg" alt="">
												<span>
													Исправление программной
													ошибки не являющимся
													гарантийным случаем, 4
													обращения
												</span>
											</li>
											<li>
												<img loading="lazy" src="img/icon/plus1.svg" alt="">
												<span>
													Сроки реакции на принятую
													заявку до 3 часов (в рабочее
													время)
												</span>
											</li>
											<li>
												<img loading="lazy" src="img/icon/plus1.svg" alt="">
												<span>
													Стресс-тестирование 5 часов
												</span>
											</li>
											<li>
												<img loading="lazy" src="img/icon/plus1.svg" alt="">
												<span>
													Скидка 5% на
													комплектующие и 10% на
													работы при апгрейде
												</span>
											</li>
										</ul>
									</div>
									<div class="block-service-support__bottom">
										<div class="block-service-support__total">
											<span>Стоимость</span>
											<div class="block-service-support__sum">
												17 990
												<img loading="lazy" src="img/icon/ruble.svg" alt="">
											</div>
										</div>
										<a href="#" class="btn">
											<span>Выбрать</span>
										</a>
									</div>
								</div>
							</div>
							<div class="block-service-support__column">
								<div class="block-service-support__shadow figure-shadow">
									<img loading="lazy" src="img/shadow3.webp" alt="">
								</div>
								<div class="block-service-support__figure figure">
									<img loading="lazy" src="img/figure3.webp" alt="">
								</div>
								<div class="block-service-support__number">
									<span></span>
									<span></span>
									<span></span>
									<span></span>
								</div>
								<div class="block-service-support__item">
									<div class="block-service-support__top">
										<div class="block-service-support__name">Exclusive</div>
										<div class="block-service-support__subname">
											Эксклюзивный пакет
										</div>
									</div>
									<div class="block-service-support__center">
										<ul>
											<li>
												<img loading="lazy" src="img/icon/plus1.svg" alt="">
												<span>
													Замена при гарантийном случае до
													5 дней на новые
													комплектующие
												</span>
											</li>
											<li>
												<img loading="lazy" src="img/icon/plus1.svg" alt="">
												<span>
													Исправление программных
													ошибок не являющимся
													гарантийными случаями
												</span>
											</li>
											<li>
												<img loading="lazy" src="img/icon/plus1.svg" alt="">
												<span>
													Сроки реакции на принятую
													заявку до 1 часа (в рабочее
													время)
												</span>
											</li>
											<li>
												<img loading="lazy" src="img/icon/plus1.svg" alt="">
												<span>
													Подменный компьютер
													(для клиентов из г. Москва)
												</span>
											</li>
											<li>
												<img loading="lazy" src="img/icon/plus1.svg" alt="">
												<span>
													Стресс-тестирование 12 часов
												</span>
											</li>
											<li>
												<img loading="lazy" src="img/icon/plus1.svg" alt="">
												<span>
													Скидка 7% на
													комплектующие и 15% на
													работы при апгрейде
												</span>
											</li>
										</ul>
									</div>
									<div class="block-service-support__bottom">
										<div class="block-service-support__total">
											<span>Стоимость</span>
											<div class="block-service-support__sum">
												29 990
												<img loading="lazy" src="img/icon/ruble.svg" alt="">
											</div>
										</div>
										<a href="#" class="btn">
											<span>Выбрать</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div data-filters class="block-shops">
				<div class="container">
					<div class="heading-complex">
						<div class="heading-complex__content">
							<h2 class="title2">
								<span>MIX PC | Сеть магазинов</span> Подбери свой идеальный пк
							</h2>
						</div>
					</div>
					<div class="filter">
						<div class="filter__navigation">
							<div data-filter="city1" class="filter__title _active">
								<span>Тольятти</span>
							</div>
							<div data-filter="city2" class="filter__title">
								<span>Тольятти 2</span>
							</div>
							<div data-filter="city3" class="filter__title">
								<span>Самара</span>
							</div>
							<div data-filter="city4" class="filter__title">
								<span>Нижний-новгород</span>
							</div>
							<div data-filter="city5" class="filter__title">
								<span>Ульяновск</span>
							</div>
							<div data-filter="city6" class="filter__title">
								<span>Казань</span>
							</div>
						</div>
					</div>
				</div>
				<div class="block-shops__content">
					<div data-category="city1" class="block-shops__column filter-content">
						<img loading="lazy" src="img/image11.webp" alt="" class="block-shops__pic">
						<div class="container">
							<div class="block-shops__item">
								<div class="block-shops__contacts">
									<div class="block-shops__contact">
										<div class="block-shops__icon">
											<img loading="lazy" src="img/icon/location.svg" alt="">
										</div>
										<div class="block-shops__title">
											<span>Тольятти,</span>
											ул. Юбилейная, 25В
										</div>
									</div>
									<a href="tel:79277991110" class="block-shops__contact">
										<div class="block-shops__icon">
											<img loading="lazy" src="img/icon/phone.svg" alt="">
										</div>
										<div class="block-shops__title">
											<span>+7 (927) 799-11-10</span>
										</div>
									</a>
									<div class="block-shops__contact">
										<div class="block-shops__icon">
											<img loading="lazy" src="img/icon/time.svg" alt="">
										</div>
										<div class="block-shops__title">
											<span>Пн - Вс:</span>
											10.00 - 20.00
											<span class="fw">(Без выходных)</span>
										</div>
									</div>
									<a href="mailto:info@mixpcshop.ru" class="block-shops__contact">
										<div class="block-shops__icon">
											<img loading="lazy" src="img/icon/mail.svg" alt="">
										</div>
										<div class="block-shops__title">
											info@mixpcshop.ru
										</div>
									</a>
								</div>
								<a href="#" class="btn"><span>Оставить заявку</span></a>
							</div>
							<div class="block-shops__image">
								<img loading="lazy" src="img/icon/logo2.svg" alt="" class="block-shops__logo">
								<img loading="lazy" src="img/image10.webp" alt="" class="block-shops__bg">
							</div>
						</div>
					</div>
					<div data-category="city2" class="block-shops__column filter-content">
						<img loading="lazy" src="img/image11.webp" alt="" class="block-shops__pic">
						<div class="container">
							<div class="block-shops__item">
								<div class="block-shops__contacts">
									<div class="block-shops__contact">
										<div class="block-shops__icon">
											<img loading="lazy" src="img/icon/location.svg" alt="">
										</div>
										<div class="block-shops__title">
											<span>Тольятти,</span>
											ул. Юбилейная, 25В
										</div>
									</div>
									<a href="tel:79277991110" class="block-shops__contact">
										<div class="block-shops__icon">
											<img loading="lazy" src="img/icon/phone.svg" alt="">
										</div>
										<div class="block-shops__title">
											<span>+7 (927) 799-11-10</span>
										</div>
									</a>
									<div class="block-shops__contact">
										<div class="block-shops__icon">
											<img loading="lazy" src="img/icon/time.svg" alt="">
										</div>
										<div class="block-shops__title">
											<span>Пн - Вс:</span>
											10.00 - 20.00
											<span class="fw">(Без выходных)</span>
										</div>
									</div>
									<a href="mailto:info@mixpcshop.ru" class="block-shops__contact">
										<div class="block-shops__icon">
											<img loading="lazy" src="img/icon/mail.svg" alt="">
										</div>
										<div class="block-shops__title">
											info@mixpcshop.ru
										</div>
									</a>
								</div>
								<a href="#" class="btn"><span>Оставить заявку</span></a>
							</div>
							<div class="block-shops__image">
								<img loading="lazy" src="img/icon/logo2.svg" alt="" class="block-shops__logo">
								<img loading="lazy" src="img/image10.webp" alt="" class="block-shops__bg">
							</div>
						</div>
					</div>
					<div data-category="city3" class="block-shops__column filter-content">
						<img loading="lazy" src="img/image11.webp" alt="" class="block-shops__pic">
						<div class="container">
							<div class="block-shops__item">
								<div class="block-shops__contacts">
									<div class="block-shops__contact">
										<div class="block-shops__icon">
											<img loading="lazy" src="img/icon/location.svg" alt="">
										</div>
										<div class="block-shops__title">
											<span>Тольятти,</span>
											ул. Юбилейная, 25В
										</div>
									</div>
									<a href="tel:79277991110" class="block-shops__contact">
										<div class="block-shops__icon">
											<img loading="lazy" src="img/icon/phone.svg" alt="">
										</div>
										<div class="block-shops__title">
											<span>+7 (927) 799-11-10</span>
										</div>
									</a>
									<div class="block-shops__contact">
										<div class="block-shops__icon">
											<img loading="lazy" src="img/icon/time.svg" alt="">
										</div>
										<div class="block-shops__title">
											<span>Пн - Вс:</span>
											10.00 - 20.00
											<span class="fw">(Без выходных)</span>
										</div>
									</div>
									<a href="mailto:info@mixpcshop.ru" class="block-shops__contact">
										<div class="block-shops__icon">
											<img loading="lazy" src="img/icon/mail.svg" alt="">
										</div>
										<div class="block-shops__title">
											info@mixpcshop.ru
										</div>
									</a>
								</div>
								<a href="#" class="btn"><span>Оставить заявку</span></a>
							</div>
							<div class="block-shops__image">
								<img loading="lazy" src="img/icon/logo2.svg" alt="" class="block-shops__logo">
								<img loading="lazy" src="img/image10.webp" alt="" class="block-shops__bg">
							</div>
						</div>
					</div>
					<div data-category="city4" class="block-shops__column filter-content">
						<img loading="lazy" src="img/image11.webp" alt="" class="block-shops__pic">
						<div class="container">
							<div class="block-shops__item">
								<div class="block-shops__contacts">
									<div class="block-shops__contact">
										<div class="block-shops__icon">
											<img loading="lazy" src="img/icon/location.svg" alt="">
										</div>
										<div class="block-shops__title">
											<span>Тольятти,</span>
											ул. Юбилейная, 25В
										</div>
									</div>
									<a href="tel:79277991110" class="block-shops__contact">
										<div class="block-shops__icon">
											<img loading="lazy" src="img/icon/phone.svg" alt="">
										</div>
										<div class="block-shops__title">
											<span>+7 (927) 799-11-10</span>
										</div>
									</a>
									<div class="block-shops__contact">
										<div class="block-shops__icon">
											<img loading="lazy" src="img/icon/time.svg" alt="">
										</div>
										<div class="block-shops__title">
											<span>Пн - Вс:</span>
											10.00 - 20.00
											<span class="fw">(Без выходных)</span>
										</div>
									</div>
									<a href="mailto:info@mixpcshop.ru" class="block-shops__contact">
										<div class="block-shops__icon">
											<img loading="lazy" src="img/icon/mail.svg" alt="">
										</div>
										<div class="block-shops__title">
											info@mixpcshop.ru
										</div>
									</a>
								</div>
								<a href="#" class="btn"><span>Оставить заявку</span></a>
							</div>
							<div class="block-shops__image">
								<img loading="lazy" src="img/icon/logo2.svg" alt="" class="block-shops__logo">
								<img loading="lazy" src="img/image10.webp" alt="" class="block-shops__bg">
							</div>
						</div>
					</div>
					<div data-category="city5" class="block-shops__column filter-content">
						<img loading="lazy" src="img/image11.webp" alt="" class="block-shops__pic">
						<div class="container">
							<div class="block-shops__item">
								<div class="block-shops__contacts">
									<div class="block-shops__contact">
										<div class="block-shops__icon">
											<img loading="lazy" src="img/icon/location.svg" alt="">
										</div>
										<div class="block-shops__title">
											<span>Тольятти,</span>
											ул. Юбилейная, 25В
										</div>
									</div>
									<a href="tel:79277991110" class="block-shops__contact">
										<div class="block-shops__icon">
											<img loading="lazy" src="img/icon/phone.svg" alt="">
										</div>
										<div class="block-shops__title">
											<span>+7 (927) 799-11-10</span>
										</div>
									</a>
									<div class="block-shops__contact">
										<div class="block-shops__icon">
											<img loading="lazy" src="img/icon/time.svg" alt="">
										</div>
										<div class="block-shops__title">
											<span>Пн - Вс:</span>
											10.00 - 20.00
											<span class="fw">(Без выходных)</span>
										</div>
									</div>
									<a href="mailto:info@mixpcshop.ru" class="block-shops__contact">
										<div class="block-shops__icon">
											<img loading="lazy" src="img/icon/mail.svg" alt="">
										</div>
										<div class="block-shops__title">
											info@mixpcshop.ru
										</div>
									</a>
								</div>
								<a href="#" class="btn"><span>Оставить заявку</span></a>
							</div>
							<div class="block-shops__image">
								<img loading="lazy" src="img/icon/logo2.svg" alt="" class="block-shops__logo">
								<img loading="lazy" src="img/image10.webp" alt="" class="block-shops__bg">
							</div>
						</div>
					</div>
					<div data-category="city6" class="block-shops__column filter-content">
						<img loading="lazy" src="img/image11.webp" alt="" class="block-shops__pic">
						<div class="container">
							<div class="block-shops__item">
								<div class="block-shops__contacts">
									<div class="block-shops__contact">
										<div class="block-shops__icon">
											<img loading="lazy" src="img/icon/location.svg" alt="">
										</div>
										<div class="block-shops__title">
											<span>Тольятти,</span>
											ул. Юбилейная, 25В
										</div>
									</div>
									<a href="tel:79277991110" class="block-shops__contact">
										<div class="block-shops__icon">
											<img loading="lazy" src="img/icon/phone.svg" alt="">
										</div>
										<div class="block-shops__title">
											<span>+7 (927) 799-11-10</span>
										</div>
									</a>
									<div class="block-shops__contact">
										<div class="block-shops__icon">
											<img loading="lazy" src="img/icon/time.svg" alt="">
										</div>
										<div class="block-shops__title">
											<span>Пн - Вс:</span>
											10.00 - 20.00
											<span class="fw">(Без выходных)</span>
										</div>
									</div>
									<a href="mailto:info@mixpcshop.ru" class="block-shops__contact">
										<div class="block-shops__icon">
											<img loading="lazy" src="img/icon/mail.svg" alt="">
										</div>
										<div class="block-shops__title">
											info@mixpcshop.ru
										</div>
									</a>
								</div>
								<a href="#" class="btn"><span>Оставить заявку</span></a>
							</div>
							<div class="block-shops__image">
								<img loading="lazy" src="img/icon/logo2.svg" alt="" class="block-shops__logo">
								<img loading="lazy" src="img/image10.webp" alt="" class="block-shops__bg">
							</div>
						</div>
					</div>
				</div>
			</div>

			{% include 'blocks/banner.njk' %}

		</main>
		{% include 'blocks/footer.njk' %}
	</div>
	{% include 'blocks/scripts.njk' %}
</body>

</html>