body::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.35);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.8s ease 0s;
    pointer-events: none;
    z-index: 149;
}
.popup-show body::after {
    opacity: 1;
}
.popup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 50px 10px;
    transition: visibility 0.8s ease 0s;
    visibility: hidden;
    pointer-events: none;
}
.popup_show {
    z-index: 150;
    visibility: visible;
    overflow: auto;
    pointer-events: auto;
}
.popup_show .popup__content {
    visibility: visible;
    transform: scale(1);
}
.popup__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup__content {
    position: relative;
    visibility: hidden;
    transform: scale(0);
    transition: transform 0.3s ease 0s;
    width: 100%;
    background: transparent;
    max-width: 410px;
    box-shadow: none;
    .lock & {
        visibility: visible;
    }
}

.popup__close {
    cursor: pointer;
    position: absolute;
    top: 18px;
    right: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 12;
    img {
        width: 30px;
        height: 30px;
    }
    .filter-open & {
        opacity: 0;
        pointer-events: none;
    }
}

.popup {
    // .popup__wrapper

    &__wrapper {
    }

    // .popup__content

    &__content {
    }

    // .popup__body

    &__body {
        position: relative;
        z-index: 10;
        .tabs__navigation {
            display: flex;
            justify-content: center;
            margin: 0px 0px 0px 0px;
            padding: 0px 70px;
            gap: 50px;
            &::after {
                content: "";
                display: none;
            }
            @media (max-width: 480px) {
                padding: 0px 25px;
                gap: 30px;
            }
            @media (max-width: 359px) {
                gap: 15px;
            }
        }
        .tabs__title {
            width: auto;
            font-weight: 900;
            font-size: 22px;
            line-height: 118%;
            text-transform: uppercase;
            text-align: center;
            color: #898e92;
            padding: 63px 0px 26px 0px;
            transition: color 0.3s;
            background-color: transparent;
            border: none;
            margin: 0px 0px 0px 0px;
            &:hover {
                color: var(--theme-color-text-common);
            }
            &._tab-active {
                color: var(--theme-color-text-common);
            }
            &::before {
                content: "";
                display: block;
                bottom: 0;
            }
            &::after {
                content: "";
                display: none;
            }
            @media (max-width: 359px) {
                font-size: 20px;
            }
        }
        .tabs__body {
            background-color: #f4f8fb;
            border-radius: 0px 0px 20px 20px;
            padding: 40px 50px 30px 50px;
            @media (max-width: 480px) {
                padding: 40px 20px 30px 20px;
            }
        }
        &.popup-other {
            padding: 63px 50px 50px 50px;
            @media (max-width: 480px) {
                padding: 63px 20px 50px 20px;
            }
            input {
                background-color: #f4f8fb;
            }
        }
    }

    // .popup__shadow

    &__shadow {
        top: -5px;
    }

    // .popup__figure

    &__figure {
    }

    // .popup__figure2

    &__figure2 {
        width: 253px;
        @media (max-width: 768px) {
            width: 200px;
        }
        @media (max-width: 650px) {
            display: none;
        }
    }
}
.form {
    p {
        font-weight: 400;
        font-size: 13px;
        line-height: 138%;
        text-align: center;
        color: #898e92;
        margin: 22px 0px 0px 0px;
        a {
            font-weight: 700;
            text-decoration: underline;
            text-decoration-skip-ink: none;
            color: var(--theme-color-accent);
            transition: opacity 0.3s;
            &:hover {
                opacity: 0.7;
            }
        }
    }

    // .form__pic

    &__pic {
        width: 120px;
        height: 120px;
        margin: 0px 0px 30px 0px;
    }

    // .form__content

    &__content {
    }

    // .form__inputs

    &__inputs {
        margin: 0px 0px 30px 0px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    // .form__copy-text

    &__copy-text {
        font-weight: 500;
        font-size: 14px;
        line-height: 143%;
        text-align: center;
        margin: 0px 0px 4px 0px;
        display: block;
    }

    // .form__copy

    &__copy {
        display: flex;
        align-items: center;
        border-radius: 25px;
        background-color: #f4f8fb;
        min-height: 50px;
        padding: 5px 30px 5px 30px;
        span {
            font-weight: 400;
            font-size: 13px;
            line-height: 138%;
            color: #898e92;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
            max-width: 100%;
        }
    }

    // .form__input

    &__input {
        position: relative;
        input {
            width: 100%;
            border-radius: 25px;
            background-color: #fff;
            font-weight: 400;
            font-size: 13px;
            line-height: 138%;
            border: 1px solid transparent;
            min-height: 50px;
            padding: 5px 30px;
            transition:
                border 0.3s,
                box-shadow 0.3s;
            &::placeholder {
                color: #898e92;
                transition: color 0.3s;
            }
            &._form-error {
                border: 1px solid #da312b;
            }
            &._form-focus {
                box-shadow: 0 30px 80px 0 rgba(43, 42, 41, 0.05);
                border: 1px solid var(--theme-color-accent);
                &::placeholder {
                    color: var(--theme-color-text-common);
                }
            }
        }
        &.password-confirm {
            &._form-error {
                input {
                    color: #fff;
                    &::placeholder {
                        color: #fff;
                    }
                }
                .form__viewpass {
                    opacity: 0;
                }
            }
            .form__error {
                pointer-events: none;
                position: absolute;
                top: 50%;
                transform: translate(0px, -50%);
                left: 30px;
                margin: 0px 0px 0px 0px;
            }
        }
    }

    // .form__error

    &__error {
        font-weight: 400;
        font-size: 13px;
        line-height: 138%;
        color: #da312b;
        margin: 2px 0px 0px 5px;
    }

    // .form__viewpass

    &__viewpass {
        cursor: pointer;
        position: absolute;
        right: 26px;
        top: 50%;
        transform: translate(0px, -50%);
        z-index: 5;
        img {
            width: 14px;
            height: 14px;
        }
        &._viewpass-active {
            .eye1 {
                opacity: 0;
            }
            .eye2 {
                opacity: 1;
            }
        }
        .eye1 {
            transition: opacity 0.3s;
        }
        .eye2 {
            transition: opacity 0.3s;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
        }
    }

    // .form__btn

    &__btn {
        width: 100%;
    }

    // .form__info

    &__info {
        margin: 0px 0px 0px 0px;
        display: flex;
        align-items: center;
        border-radius: 30px;
        background-color: #fff;
        border: 1px solid var(--theme-color-hover-accent);
        box-shadow: 0 30px 80px 0 rgba(43, 42, 41, 0.05);
        margin: 20px -20px 0px -20px;
        min-height: 60px;
        padding: 5px 20px 5px 20px;
        width: calc(100% + 40px);
        @media (max-width: 480px) {
            width: 100%;
            margin: 20px 0px 0px 0px;
        }
        span {
            font-weight: 700;
            font-size: 18px;
            line-height: 144%;
            color: var(--theme-color-hover-accent);
        }
    }

    // .form__icon

    &__icon {
        flex: 0 0 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: var(--theme-color-hover-accent);
        margin: 0px 10px 0px 0px;
        img {
            width: 15px;
            height: 15px;
            filter: brightness(0) invert(1);
        }
    }

    // .form__top

    &__top {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 0px 26px 0px;
    }

    // .form__title

    &__title {
        font-weight: 900;
        font-size: 22px;
        line-height: 118%;
        text-transform: uppercase;
        text-align: center;
    }

    // .form__subtitle

    &__subtitle {
        font-weight: 400;
        font-size: 18px;
        line-height: 144%;
        text-align: center;
        color: #898e92;
        margin: 18px 0px 0px 0px;
    }

    // .form__body

    &__body {
    }

    // .form__simplebar

    &__simplebar {
        height: 556px;
        @media (max-width: 768px) {
            height: 625px;
        }
    }

    // .form__products

    &__products {
    }

    // .form__column

    &__column {
        position: relative;
        display: flex;
        justify-content: space-between;
        gap: 60px;
        border-bottom: 1px dashed rgba(137, 142, 146, 0.2);
        padding: 20px 0px 22px 0px;
        &:first-child {
            padding: 0px 0px 22px 0px;
        }
        &:last-child {
            padding: 20px 0px 0px 0px;
            border-bottom: none;
        }
        @media (max-width: 768px) {
            gap: 20px;
            padding: 15px 0px 20px 0px;
            &:first-child {
                padding: 0px 0px 20px 0px;
            }
            &:last-child {
                padding: 15px 0px 0px 0px;
            }
        }
        .btn-circle {
            margin: 6px 0px 0px 0px;
            flex: 0 0 40px;
            width: 40px;
            height: 40px;
            img {
                margin: 0px 0px 0px 0px;
                transform: rotate(0deg);
            }
            @media (max-width: 768px) {
                flex: 0 0 30px;
                width: 30px;
                height: 30px;
                img {
                    width: 12px;
                    height: 12px;
                }
            }
            @media (max-width: 480px) {
                position: absolute;
                bottom: 20px;
                right: 10px;
            }
        }
    }

    // .form__tags

    &__tags {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        margin: 0px 0px 26px 0px;
        @media (max-width: 650px) {
            margin: 0px 0px 20px 0px;
        }
    }

    // .form__tag

    &__tag {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 1 auto;
        border-radius: 25px;
        background-color: var(--theme-color-accent);
        font-weight: 900;
        font-size: 10px;
        line-height: 125%;
        color: #fff;
        padding: 2px 7px 2px 10px;
        white-space: nowrap;
        transition: opacity 0.3s;
        img {
            width: 16px;
            height: 16px;
            margin: 0px 0px 0px 3px;
        }
        &:hover {
            opacity: 0.7;
        }
    }
}
.forgot-password {
    margin: 24px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    text-align: center;
    border-radius: 30px;
    background-color: #fff;
    min-height: 40px;
    font-weight: 900;
    font-size: 12px;
    line-height: 133%;
    text-transform: uppercase;
    color: var(--theme-color-accent);
    transition:
        color 0.3s,
        background-color 0.3s;
    &:hover {
        background-color: var(--theme-color-accent);
        color: #fff;
    }
}

.send-configuration-popup {
    .form__title {
        font-size: 18px;
        line-height: 133%;
    }
}

.products-popup {
    .form__top {
        align-items: start;
        margin: 0px 0px 35px 30px;
        @media (max-width: 650px) {
            margin: 0px 0px 26px 0px;
            align-items: center;
        }
    }
    .form__title {
        text-align: left;
        @media (max-width: 650px) {
            text-align: center;
        }
    }
    .form__content {
        display: flex;
    }
    .form__body {
        flex: 1 1 auto;
        padding: 63px 50px 40px 37px;
        @media (max-width: 768px) {
            padding: 63px 20px 50px 20px;
        }
    }
    .search-header {
        margin: 0px 0px 20px 0px;
        .btn {
            @media (max-width: 650px) {
                display: none;
            }
        }
    }
    .search-header__body {
        @media (max-width: 650px) {
            min-height: 40px;
        }
    }
    .popup__content {
        max-width: 890px;
    }
    .popup__body {
        padding: 0px 0px 0px 0px;
    }
}

.filter-form {
    flex: 0 0 253px;
    padding: 62px 40px 53px 40px;
    border-radius: 0px 0px 0px 20px;
    @media (max-width: 768px) {
        flex: 0 0 200px;
        padding: 62px 20px 53px 20px;
    }
    @media (max-width: 650px) {
        flex: 1 1 auto;
        padding: 0px 0px 20px 0px;
    }
    // .filter-form__title

    &__title {
        pointer-events: none;
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        text-transform: uppercase;
        margin: 0px 0px 28px 0px;
        @media (max-width: 650px) {
            pointer-events: auto;
            justify-content: center;
            padding: 11px;
            margin: 0px 0px 0px 0px;
            width: 100%;
            border-radius: 25px;
            background-color: var(--theme-color-accent);
            color: #fff;
        }
    }

    // .filter-form__icon

    &__icon {
        margin: 0px 10px 0px 0px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        img {
            width: 18px;
            height: 18px;
        }
        @media (max-width: 650px) {
            width: auto;
            height: auto;
            background-color: transparent;
            border-radius: 0px;
            img {
                filter: brightness(0) invert(1);
            }
        }
    }
}
.spollers {
    display: flex;
    flex-direction: column;
    gap: 30px;
    @media (max-width: 650px) {
        position: fixed;
        top: -50px;
        left: -10px;
        width: calc(100% + 20px);
        height: calc(100% + 100px);
        background-color: #f4f8fb;
        padding: 50px 20px 50px 20px;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s;
        z-index: 15;
        overflow: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
        .filter-open & {
            opacity: 1;
            pointer-events: auto;
        }
    }

    // .spollers__filter-mob

    &__filter-mob {
        display: none;
        gap: 20px;
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        text-transform: uppercase;
        @media (max-width: 650px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    // .spollers__close

    &__close {
    }

    // .spollers__item

    &__item {
    }

    // .spollers__title

    &__title {
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-weight: 500;
        font-size: 14px;
        line-height: 143%;
        img {
            width: 10px;
            height: 10px;
            margin: 5px 0px 0px 0px;
        }
        &._spoller-active {
            img {
                transform: rotate(-180deg);
            }
        }
    }

    // .spollers__body

    &__body {
        margin: 12px 0px 0px 0px;

        .showmore__content {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .checkbox__label {
            align-items: center;
        }
        .checkbox__text {
            font-weight: 700;
            font-size: 13px;
            line-height: 154%;
        }
        .checkbox__icon {
            margin: 0px 0px 0px 0px;
            background-color: #fff;
            box-shadow: 0 5px 15px 0 rgba(43, 42, 41, 0.03);
        }
        .showmore__more {
            margin: 16px 0px 0px 0px;
            padding: 0px 0px 0px 0px;
            min-height: auto;
            span {
                justify-content: start;
                font-weight: 900;
                font-size: 12px;
                line-height: 133%;
                text-transform: uppercase;
                color: var(--theme-color-accent);
            }
        }
    }

    // .spollers__rating

    &__rating {
    }

    // .spollers__values

    &__values {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 13px;
        margin: 0px 0px 20px 0px;
    }

    // .spollers__value

    &__value {
    }

    // .spollers__input

    &__input {
        input {
            border-radius: 25px;
            box-shadow: 0 5px 15px 0 rgba(43, 42, 41, 0.03);
            width: 100%;
            background-color: #fff !important;
            min-height: 30px;
            padding: 5px;
            font-weight: 700;
            font-size: 13px;
            line-height: 154%;
            text-align: center;
        }
    }

    // .spollers__range

    &__range {
    }
}
